@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 400px) {
    body{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.banner{
    position: relative;
}

@media (max-width: 400px) {
    .banner{
        margin-top: 56px;
    }
}

.banner-img{
    background-color: #c1c3cc;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url('https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg');
    background-position: 0px 0px, 50% 0%;
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (max-width: 400px) {
    .banner-img{
        height: 70vh;
    }
}

.mobile-menu{
    display: none;
}

@media (max-width: 400px) {
    .mobile-menu{
        display: block;
        position: absolute;
        right: 20px;
        top: -36px;
    }

    .mobile-menu i{
        font-size: 25px;
    }
}

.navigation{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    background-color: white;
    margin-left: 5%;
    z-index: 1;
}

@media (max-width: 400px) {
    .navigation{
        width: 70px;
        margin-left: 0;
        position: absolute;
        top: -56px;
        left: 0;
    }
}

.navigation img{
    width: 70px;
    height: 18px;
    background-color: #E47312;
    padding: 40px 40px 25px 40px;
    box-shadow: 0px 15px #E47312;
}

@media (max-width: 400px) {
    .navigation img{
        height: 16px;
        padding: 20px 30px;
        box-shadow: none;
    }
}

.menu{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 100%;
}

@media (max-width: 400px) {
    .menu{
        display: none;
    }
}

.nav-link{
    text-decoration: none;
    color: #414147;
    padding: 15px;    
}

.nav-link:hover{
    color: #E47728;
}

.dropdown-link i{
    margin: 10px;
    color: #414147;
}

.info-wrapper{
    background-color: #E47312;
    padding: 33px 30px 35px 30px;
    margin-right: 0;
    color: white;
    height: 100%;
}

.info-wrapper:hover {
    background-color: #e98a38;
    color: white;
}

.dropdown-list{
    position: absolute;
    text-align: center;
    top: 130px;
    right: 170px;
    background-color: #fff;
    padding: 10px;
    display: none;
}

.dropdown-link:hover + .dropdown-list {
    display: block;
}

.dropdown-list-item{
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
}

.dropdown-list-item a{
    text-decoration: none;
    color: #414147;
    padding: 10px 20px;
}

.dropdown-list-item a:hover{
    background-color: #F1F1F7;
    color: #E47728;
}

.landing-div{
    position: absolute;
    top: 180px;
    margin-left: 3%;
}

@media (max-width: 400px) {
    .landing-div{
        top: 110px;
        width: 70vw;
    }
}

@media (max-width: 400px) {
    .landing-div{
        margin-left: 5vw;
    }
}

.landing-div-title{
    color: #fff;
    font-size: 62px;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 400px) {
    .landing-div-title{
        font-size: 40px;
        line-height: 50px;
    }
}

.landing-div-paragraph{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
}

@media (max-width: 400px) {
    .landing-div-paragraph{
        margin-top: 25px;
        line-height: 30px;
    }
}

.popup-btn{
    background-color: #E47312;
    color: #fff;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 25px;
}

@media (max-width: 400px) {
    .popup-btn{
        margin-top: 15px;
    }
}

.social-icons-list{
    height: 220px;
    background-color: #0A1229;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 220px;
    right: 0;
    width: 4vw;
}

@media (max-width: 400px) {
    .social-icons-list{
        padding: 0;
        width: 14vw;
        height: 200px;
        position: absolute;
        right: 0;
        top: 248px;
    }
}

.social-icons i{
    font-size: 18px;
    color: white;
    padding: 12px;
}

.horizontal-line{
    width: 90%;
    text-align: center;
    height: 1px;
    background-color: grey;
    margin-top: 8px
}

.features-wrapper{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 80px;
    position: absolute;
    top: 440px;
    right: 0;
    width: 70vw;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
}

@media (max-width: 400px) {
    .features-wrapper{
        display: none;
    }
}

.phone-number{
    text-align: center;
    color: white;
    padding: 5px;
}

.phone-main-text{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.phone-secondary-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    line-height: 25px;
}

.contact-mail{
    text-align: center;
    color: white;
    padding: 5px;
}

.contact-main-text{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.contact-secondary-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    line-height: 25px;
}

.opening-times{
    text-align: center;
    color: white;
    padding: 5px;
}

.time-main-text{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.time-secondary-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    line-height: 25px;
}

.map-finder a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}

.map-finder a:hover{
    border-bottom: 2px solid white;
}

.services{
    margin-top: 100px;
    margin-left: 3%;
}

.services-headings{
    display: flex;
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .services-headings{
        flex-direction: column;
    }
}

.services-titles{
    position: relative;
}

.services-light-title{
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .services-light-title{
        display: none;
    }
}

.services-top-title{
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
}

@media (max-width: 400px) {
    .services-top-title{
        position: static;
        font-size: 30px;
        margin-left: 3%;
        margin-bottom: 0;
    }
}

.services-headings-right{
    margin-top: 170px;
}

@media (max-width: 400px) {
    .services-headings-right{
        margin-top: 0;
        margin-left: 3%;
    }
}

.services-headings-right a{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 500px;
    padding-bottom: 5px;
}

@media (max-width: 400px) {
    .services-headings-right a{
        margin-left: 0;
    }
}

.services-headings-right a:hover{
    border-bottom: 2px solid #E47312;
}

.services-details{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .services-details{
        flex-direction: column;
        margin-left: 4%;
        margin-top: 20px;
    }
}

.services-portion{
    padding: 25px;
}

.services-img{
    width: 60px;
}

.services-details-heading{
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

.services-details-para{
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

.services-learn-link{
    color: #919198;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding-bottom: 5px;
}

.services-learn-link:hover{
    border-bottom: 2px solid #E47312;
}

.about{
    margin-top: 70px;
    margin-left: 3%;
}

.about-us{
    display: flex;
}

@media (max-width: 400px) {
    .about-us{
        flex-direction: column;
        margin: 0;
    }
}

.about-us-img{
    margin-top: 40px;
}

@media (max-width: 400px) {
    .about-us-img{
        margin-top: 0;
        box-sizing: border-box;
    }
}

.about-us-img img{
    width: 40vw;
}

@media (max-width: 400px) {
    .about-us-img img{
        width: 90%;
        padding: 10px;
    }
}

.about-us-details{
    padding: 0 60px;
    margin-left: 40px;
}

@media (max-width: 400px) {
    .about-us-details{
        margin-left: 10px;
        padding: 0;
    }
}

.about-light-heading{
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .about-light-heading{
        display: none;
    }
}

.about-us-titles{
    position: relative;
}

.about-us-top-title{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

@media (max-width: 400px) {
    .about-us-top-title{
        position: static;
    }
}

.about-us-para{
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px;
}

@media (max-width: 400px) {
    .about-us-para{
        padding-right: 15px;
    }
}

.about-team{
    color: #919198;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding-bottom: 5px;
}

.about-team:hover{
    border-bottom: 2px solid #E47312;
}

.about-us-facts{
    margin-top: 50px;
    display: flex;
    margin-left: 3%;
}

@media (max-width: 400px) {
    .about-us-facts{
        flex-direction: column;
    }
}

.facts-section{
    width: 23%;
    padding: 20px 50px 20px 0;
}

@media (max-width: 400px) {
    .facts-section{
        width: 90vw;
        padding: 10px;
    }
}

.facts-number{
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}

.facts-details{
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

.our-projects{
    margin-top: 50px;
    background-color: #F7F8FC;
    background-image: url('https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.projects-headings{
    display: flex;
    background-color: #F7F7FC;
}

@media (max-width: 400px) {
    .projects-headings{
        flex-direction: column;
    }
}

.projects-headings-left{
    margin-left: 10px;
}

.projects-titles{
    position: relative;
}

.projects-light-heading{
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0;
}

@media (max-width: 400px) {
    .projects-light-heading{
        display: none;
    }
}

.projects-top-title{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    margin-left: 40px;
}

@media (max-width: 400px) {
    .projects-top-title{
        position: static;
        margin-left: 3%;
        font-size: 30px;
    }
}

.projects-headings-right{
    margin-top: 90px;
    margin-left: 500px;
}

@media (max-width: 400px) {
    .projects-headings-right{
        margin-left: 6%;
        margin-top: 0;
    }
}

.projects-headings-right a{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 5px;
}

.projects-headings-right a:hover{
    border-bottom: 2px solid #E47312;
}

.project-images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F7F8FC;
}

@media (max-width: 400px) {
    .project-images{
        flex-direction: column;
        background-color: #F7F8FC;
    }
}

.project-images-section{
    width: 32.5%;
    box-sizing: border-box;;
}

@media (max-width: 400px) {
    .project-images-section{
        width: 100%;
        box-sizing: border-box;
    }
}

.project-images-section img{
    width: 30vw;
}

@media (max-width: 400px) {
    .project-images-section img{
        width: 100vw;
        padding: 10px;
    }
}

.empty-space{
    height: 10px;
    width: 100vw;
    background-color: #fff;
}

.color-section{
    background-color: #e47312;
    box-sizing: border-box;
    text-align: center;
    padding: 70px 30px;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78));
    opacity: 0.8;
}

@media (max-width: 400px) {
    .color-section{
        padding: 20px;
        text-align: left;
    }
}

.color-section-top-title{
    color: #fff;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}

@media (max-width: 400px) {
    .color-section-top-title{
        font-size: 30px;
        line-height: 35px;
    }
}

.color-section-para{
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.color-section-link{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.color-section-link:hover{
    border-bottom: 2px solid #fff;
}

.our-team{
    background-color: #F7F8FC;
    padding-bottom: 20px;
}

.team-headings{
    display: flex;
}

@media (max-width: 400px) {
    .team-headings{
        flex-direction: column;
    }
}

.team-titles{
    position: relative;
}

.team-light-title{
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0;
}

@media (max-width: 400px) {
    .team-light-title{
        display: none;
    }
}

.team-top-title{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    margin-left: 70px;
}

@media (max-width: 400px) {
    .team-top-title{
        position: static;
        font-size: 30px;
        margin-left: 3%;
    }
}

.team-headings-right{    
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 90px;
    margin-left: 800px;
}

@media (max-width: 400px) {
    .team-headings-right{
        margin-top: 0;
        margin-left: 3%;
    }
}

.team-headings-right a{
    text-decoration: none;
    color: #919198;
    font-weight: 600;
    padding-bottom: 5px;
}

.team-headings-right a:hover{
    border-bottom: 2px solid #e47312;
}

.team-details{
    display: flex;
    margin-left: 5%;
}

@media (max-width: 400px) {
    .team-details{
        flex-direction: column;
        margin-top: 20px;
    }
}

.team-wrapper{
    position: relative;
    width: 22%;
    margin-right: 25px;
}

@media (max-width: 400px) {
    .team-wrapper{
        width: 60vw;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.team-image{
    margin-bottom: 0;
}

.team-image img{
    width: 100%;
    height: 300px;
}

@media (max-width: 400px) {
    .team-image img{
        height: 35vh;
    }
}

.team-content{
    background-color: #fff;
    margin: 0; 
    padding: 10px;
}

.team-content h1{
    line-height: 20px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 0;
}

.team-content p{
    color: #bdbdc9;
    font-size: 16px;
    line-height: 25px;
    margin-left: 10px;
}

.team-social-icons{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #E47312;
}

.team-social{
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
}

.team-social a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-divider{
    width: 75%;
    height: 1px;
    background-color: grey;
    margin: 0 auto;
}

.testimonials{
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #F7F8FC;
}

@media (max-width: 400px) {
    .testimonials{
        flex-direction: column;
        padding: 0;
    }
}

.testimonials-titles{
    position: relative;
    margin-top: 150px;
}

@media (max-width: 400px) {
    .testimonials-titles{
        margin-top: 50px;
    }
}

.testimonials-light-title{
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 400px) {
    .testimonials-light-title{
        display: none;
    }
}

.testimonials-top-title{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    margin-left: 50px;
}

@media (max-width: 400px) {
    .testimonials-top-title{
        position: static;
        font-size: 30px;
        margin-left: 30px;
    }
}

.testimonials-para{
    color: #919197;
    font-size: 17px;
    line-height: 25px;
    padding: 50px;
}

@media (max-width: 400px){
    .testimonials-para{
        padding: 30px;
    }
}

.testimonials-services-link a{
    text-decoration: none;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-left: 50px;
    padding-bottom: 5px;
}

@media (max-width: 400px) {
    .testimonials-services-link a{
        margin-left: 30px;
    }
}

.testimonials-services-link a:hover{
    border-bottom: 2px solid #e47312;
}

.testimonials-section-1{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 65px;
}

@media (max-width: 400px) {
    .testimonials-section-1{
        width: 100%;
    }
}

.testimonials-section-2{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 95px;
}

@media (max-width: 400px) {
    .testimonials-section-2{
        width: 100%;
        margin-top: 0;
    }
}

.feedback-section{
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px 40px;
}

.feedback-section h4{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #121213;
}

.customer-job-title{
    color: #bdbdc9;
    font-size: 16px;
    line-height: 20px;
}

.feedback-para{
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}

.pause-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding-top: 15px;
    position: absolute;
    top: -25px;
    left: 40%;
}

.our-blogs{
    margin-top: 30px;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .our-blogs{
        margin-top: 15px;
    }
}

.blogs-headings{
    display: flex;
}

@media (max-width: 400px) {
    .blogs-headings{
        flex-direction: column;
    }
}

.blogs-titles{
    position: relative;
}

.blogs-light-title{
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
    margin-top: 0;
}

@media (max-width: 400px) {
    .blogs-light-title{
        display: none;
    }
}

.blogs-top-title{
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #121213;
    position: absolute;
    bottom: 0;
    margin-left: 35px;
}

@media (max-width: 400px) {
    .blogs-top-title{
        position: static;
        margin-left: 30px;
        font-size: 30px;
        margin-bottom: 0;
    }
}

.blogs-headings-right{
    margin-top: 90px;
    margin-left: 800px;
}

@media (max-width: 400px) {
    .blogs-headings-right{
        margin: 0;
        margin-left: 30px;
    }
}

.blogs-headings-right a{
    text-decoration: none;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 5px;
}

.blogs-headings-right a:hover{
    border-bottom: 2px solid #e47312;
}

.blogs-posts{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

@media (max-width: 400px) {
    .blogs-posts{
        flex-direction: column;
        margin-top: 15px;
    }
}

.blogpost-section{
    width: 30%;
    position: relative;
    cursor: pointer;
}

@media (max-width: 400px) {
    .blogpost-section{
        width: 90%;
        margin: 10px auto;
    }
}

.blogpost-section img{
    width: 100%;
}

.blogpost-content{
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    margin-top: -10px;
}

.blogpost-content h1{
    font-size: 19px;
    line-height: 26px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 0;
}

.blogpost-content p{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.blogpost-content a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(167, 166, 166, 0.7);;
}

.blogpost-content a:hover{
    border-bottom: 2px solid #fff;
}

.blog-time{
    position: absolute;
    top: 0;
    right: 0;
}

.blog-date{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
}

.blog-month{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 8px 0;
}

.logos-section{
    padding: 70px;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    margin-top: 100px;
}

.logos-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 400px) {
    .logos-details{
        flex-direction: column
    }
}

#logos-title{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.logos-section h1{
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .logos-section h1{
        margin: 20px;
    }
}

.footer{
    margin: 0 auto;
    display: flex;
    background-color: #0a1229;
    width: 90vw;
    position: relative;
}

@media (max-width: 400px) {
    .footer{
        width: 100vw;
        flex-direction: column;
        padding-bottom: 80px;
    }
}

.footer-section{
    width: 30%;
    padding: 60px 50px 200px 50px;
}

@media (max-width: 400px) {
    .footer-section{
        width: 90%;
        margin: 10px auto;
        box-sizing: border-box;
        padding: 10px;
    }
}

.footer-section-title{
    display: flex;
}

.footer-section-title h1{
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.footer-flat-line{
    height: 1px;
    width: 150px;
    background-color: #ff6361;
    margin-left: 10px;
    margin-top: 20px;
}

.footer-section-1 p{
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.footer-link a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.footer-link a:hover{
    border-bottom: 2px solid #fff;
}

.footer-services-link{
    margin: 20px 0;
}

.footer-services-link a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer-services-link a:hover{
    border-bottom: 2px solid #fff;
}

.footer-contact-name{
    display: flex;
}

.footer-contact-name h1{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}

.footer-contact-name i{
    margin-right: 10px;
}

.footer-contact-details p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
}

.footer-logo{
    position: absolute;
    bottom: 0;
    left: 100px;
    background-color: #e47312;
    cursor: pointer;
}

.footer-logo img{
    width: 80px;
    padding: 40px;
}